<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
</form>

<div class="container">
    <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo"/>
    <form action="#" th:object="${user}" th:action="@{/login}" method="POST" class="form-signin" role="form">
        <h3 class="form-signin-heading" th:text="Welcome"></h3>
        <br/>

        <div class="form-group">
            <div class="col-sm-9">
                <input type="text" th:field="*{email}" placeholder="Email"
                       class="form-control"/> <label
                    th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                    class="validation-message"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <input type="password" th:field="*{password}"
                       placeholder="Password" class="form-control"/> <label
                    th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                    class="validation-message"></label>
            </div>
        </div>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>
</body>
</html>